body{
  background-color: #999;
}

a{
  display: block;
  width: 100px;
  height: 20px;
  line-height: 20px;
  text-align: left;
  color: blue;
}
.register{
  position: absolute;
  top:50%;
  left: 50%;
  margin:-200px 0px 0px -175px;
  width: 350px;
  height: 400px;
  text-align: center;
  background-color: #ccc;
  border: 3px solid #000;
  border-radius: 50px;
  overflow:hidden;
}

.register-title h1{
  margin: 30px 0px;
  font-size: 30px;
  letter-spacing:10px;
}
.write{
  clear: both;
}

input{
  height: 30px;
  margin-left: 10px;
}

div{
  width: 350px;
  height: 70px;
  line-height: 70px;
  font-size: 16px;
  font-weight: bold;
}
.userName,.password{
  letter-spacing: 16px;
}
button{
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  background-color: #0cf;
  border-radius: 30px;
}
